{% extends 'base.html.twig' %}

{% block title %}Lieu liste{% endblock %}

{% block body %}
    <h1>Lieu index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Addresse</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for lieu in lieu %}
            <tr>
                <td>{{ lieu.id }}</td>
                <td>{{ lieu.nom }}</td>
                <td>{{ lieu.addresse }}</td>
                <td>
                    <a href="{{ path('lieu_delete', {'id': lieu.id}) }}">supprimer</a>
                    <a href="{{ path('lieu_edit', {'id': lieu.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('lieu_new') }}">Create new</a>
{% endblock %}
