{% extends 'base.html.twig' %}

{% block title %}Lieu detail{% endblock %}

{% block body %}
    <h1>Lieu</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ lieu.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ lieu.nom }}</td>
        </tr>
        <tr>
            <th>Addresse</th>
            <td>{{ lieu.addresse }}</td>
        </tr>

        </tbody>
    </table>

    <a href="{{ path('lieu_index') }}">back to list</a>

    <a href="{{ path('lieu_edit', {'id': lieu.id}) }}">edit</a>

    {{ include('lieu/annuler_sortie.html.twig') }}
{% endblock %}
