{% extends 'base.html.twig'%}

{% block title%}
    {% if app.user == participant %}
        Mon profil
    {% else %}
        Profil de {{ participant.pseudo|capitalize }}
    {% endif %}
{% endblock %}

{% block informations %}
    {% if app.user == participant %}
    <h1 class="jumbotron-heading text-center">Mon profil</h1>
    {% else %}
    <h1 class="jumbotron-heading text-center">Profil de {{ participant.pseudo|capitalize }}</h1>
    <h2 class="jumbotron-heading text-center"></h2>
    {% endif %}
{% endblock %}

{% block main %}

    {{ include('accueil/messageFlash.html.twig') }}

    <div class="col mt-3 mb-3 text-center">
        {% if participant.img %}
            <img src="{{ asset('uploads/users/photos/' ~ participant.img) }}" alt="Photo_de_profil"
                 height="20%" width="20%"
                 class="img-thumbnail rounded img-fluid">
        {% endif %}
    </div>

    <div class="row">

        <table class="table">
            <tbody>
            {% if app.user == participant %}
                <tr>
                    <th scope="row">Pseudo</th>
                    <td>{{ participant.pseudo }}</td>
                </tr>
            {% endif %}
            <tr>
                <th scope="row">Prénom</th>
                <td>{{ participant.prenom }}</td>
            </tr>
            <tr>
                <th scope="row">Nom</th>
                <td>{{ participant.nom }}</td>
            </tr>
            <tr>
                <th scope="row">N° de téléphone</th>
                <td>{{ participant.telephone }}</td>
            </tr>
            <tr>
                <th scope="row">E-mail</th>
                <td>{{ participant.email }}</td>
            </tr>
            <tr>
                <th scope="row">Campus</th>
                <td>{{ participant.campus.nom }}</td>
            </tr>
            </tbody>
        </table>



        <div class="col text-center mb-3 mt-3">
            <a href="{{ path('accueil') }}" class="btn btn-primary btn-lg mr-3">
                Retour</a>

        {% if app.user == participant %}



        <a href="{{ path('participant_modifier', {'pseudo': participant.pseudo }) }}" class="btn btn-warning btn-lg">
            Modifier mon profil</a>
        {% endif %}
            </div>
    </div>

{% endblock %}