{% extends 'base.html.twig'%}

{% block informations %}
    {% if app.user == participant %}
    <h1 class="jumbotron-heading text-center">Mon profil</h1>
    {% else %}
    <h1 class="jumbotron-heading text-center">Profil de</h1>
    <h2 class="jumbotron-heading text-center">{{ participant.pseudo }}</h2>
    {% endif %}
{% endblock %}

{% block main %}

    <div class="row">
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">Prénom</th>
                <td>{{ participant.prenom }}</td>
            </tr>
            <tr>
                <th scope="row">Nom</th>
                <td>{{ participant.nom }}</td>
            </tr>
            <tr>
                <th scope="row">N° de téléphone</th>
                <td>{{ participant.telephone }}</td>
            </tr>
            <tr>
                <th scope="row">E-mail</th>
                <td>{{ participant.email }}</td>
            </tr>
            <tr>
                <th scope="row">Campus</th>
                <td>{{ participant.campus.nom }}</td>
            </tr>
            </tbody>
        </table>
        {% if app.user == participant %}
        <a href="{{ path('participant_modifier', {'pseudo': participant.pseudo }) }}" class="btn btn-warning">
            Modifier mon profil</a>
        {% endif %}
    </div>

{% endblock %}