{% extends 'base.html.twig' %}

{% block title %}Campus index{% endblock %}

{% block informations %}
    <h1 class="jumbotron-heading text-center">Gérer les Campus</h1>
{% endblock %}


{% block main %}
    <h2>Filtrer les Campus</h2>

    <table class="table caption-top">
        {#        <caption>List of users</caption>#}
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Campus</th>
            <th scope="col">Modifier/Supprimer</th>
        </tr>
        </thead>
        <tbody>
        {% for campus in campus %}
            <tr>
                <td>{{ campus.id }}</td>
                <td>{{ campus.nom }}</td>
                <td>
                    &emsp;&emsp;<a href="{{ path('campus_edit', { 'id': campus.id }) }}" alt="Modifier" title="Modifier"  class="btn btn-sm btn-warning"><i class="fa-solid fa-pencil"></i></a>&ensp;
                    <a href="{{ path('campus_delete', { 'id': campus.id }) }}" alt="Supprimer" title="Supprimer" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('campus_new') }}"type="button" class="btn btn-secondary btn-lg mb-5 mt-4">Ajouter un campus</a>

{% endblock %}
